a{
  color: #a0522c;
  &:hover{
    color: #3b91c0;
  }
}
.project-content,.post-content,.post-related{
  ul,ol{
    list-style-type: disc;
    li{
      margin-left: 20px;
    }
  }
}
section.book-article{
  background-color: #eee;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border-radius: 20px;
  .book-article-link{
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
  }
}
section.book-review{
  div.entry{
    border: 1px solid black;
    margin: 5px 5px 15px 5px;
    padding: 5px;
    text-align:center;
    div.quote{
      font-size: 1.4em;
    }
    div.author{
      font-weight: bold;
      font-size: 1.2em;
      color: #a0522c;
    }
    div.loc{
      font-weight: lighter;
    }
  }
}
section.book-download-content{
  ul{
    list-style-type: disc;
    li{
      margin-left: 20px;
    }
  }
}
section.curated-page{
  .curated-title{
    text-align: left;
  }
  .curated-info{
    color: #888;
    p{
      color: inherit;
    }
  }
  .curated-list{
    .curated-entry{
      margin-bottom: 20px;
      img{
        width: 150px;
        padding-left: 10px;
        padding-right: 10px;
      }
      h3{
        color: #a0522c;
      }
      .curated-entry-link{
        font-size: .9em;
        text-align: center;
      }
    }
    .curated-entry-odd{
      img{
        float: right;
      }
    }
    .curated-entry-even{
      img{
        float: left;
      }
    }
    .curated-entry-error{
      color: red;
      text-align: center;
      font-size: 2em;
    }
  }
}
.mediainfo-headshots{
  text-align: left;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  h3{
    color: #a0522c;
  }
  table{
    tr.headshot-images{
      text-align: center;
      td{
        padding: 5px;
      }
    }
    tr.headshot-title{
      text-align: center;
    }
  }
}
.mediainfo-more-info{
  border: 1px solid black;
  border-radius: 20px;
  background-color: #eee;
  .mediainfo-infobox{
    padding: 15px;
    background-color: #eee;
    border-radius: 20px;
  }
  .mediainfo-form{
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
  }
}